body {
    background: linear-gradient(to right, #ffcb05, #ff7f00);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('img/fondo.jpeg');
}

.pokeball {
    width: 150px;
    height: 150px;
    background: white;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pokeball::before,
.pokeball::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 75px;
    background: red;
}

.pokeball::before {
    top: 0;
}

.pokeball::after {
    bottom: 0;
    background: white;
}

.pokeball .center {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    border: 5px solid black;
    border-radius: 50%;
    z-index: 1;
}

.pokeball .center::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header img {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container-custom {
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid #3b4cca;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
}

h1 {
    color: #3b4cca;
    font-size: 2em;
    margin-bottom: 20px;
}

#pokemon-name {
    border: 2px solid #3b4cca;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 24px);
    font-size: 1em;
}

#fetch-pokemon {
    background-color: #3b4cca;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    width: calc(100% - 40px);
    font-size: 1em;
}

#fetch-pokemon:hover {
    background-color: #2a2a8e;
}

.pokemon-info {
    margin-top: 20px;
    font-size: 1em;
}

.pokemon-info img {
    border: 5px solid #3b4cca;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.pokemon-info h2 {
    color: #2a2a8e;
    font-size: 1.5em;
    margin: 10px 0;
}

.pokemon-info p {
    color: #3b4cca;
    font-weight: bold;
    margin: 5px 0;
}
